@font-face {
  font-family: "Roc Grotesk";
  src: url("Fontspring-DEMO-rocgrotesk-medium.otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Roc Grotesk";
  src: url("Fontspring-DEMO-rocgrotesk-bold.otf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("Fontspring-DEMO-rocgrotesk-extrabold.otf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roc Grotesk";
  src: url("Fontspring-DEMO-rocgrotesk-regular.otf");
  font-weight: 400;
  font-style: normal;
}
