@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");

body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

video {
  object-fit: cover;
  position: absolute;
  top: auto;
  left: auto;
  width: 100%;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  /*text-align: center;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Text styles */

h1 {
  @apply font-roc text-5xl font-medium text-white leading-tight;
}

h2 {
  @apply font-roc text-base uppercase font-medium text-white leading-tight;
}

h3 {
  @apply font-roc font-medium text-4xl text-white leading-tight;
}

p {
  @apply text-base leading-tight font-normal;
}

.header {
  @apply text-lg uppercase underline font-roc;
}

.body {
  @apply text-xs text-white font-normal leading-relaxed;
}

.body1 {
  @apply text-sm text-white font-medium font-roc;
}

.body2 {
  @apply text-xs font-light text-white leading-snug;
}

.body3 {
  @apply font-roc text-2xl leading-tight font-medium;
}

.caption {
  @apply text-[12px] text-th-grey font-normal;
}

.num_lg {
  @apply font-roc font-medium text-4xl text-white leading-tight;
}

/* Element styles */

.btn-play {
  @apply bg-white py-3 px-8 text-black font-roc font-medium uppercase text-sm rounded-full w-56 leading-none;
}

.tools_wrapper div:not(:first-child) {
  @apply -ml-2;
}

.team_wrapper div:nth-child(odd) {
  @apply border-r border-r-th-fade;
}

/* Interactive */

.expertise_wrapper {
  transition: 0.3s;
}
.expertise_wrapper:hover {
  background: linear-gradient(
    164deg,
    #873cbc 0.26%,
    #5f2c91 16.97%,
    #11011f 42.6%,
    #000 53.68%
  );
}
