@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import "~/node_modules/react-modal-video/scss/modal-video.scss";

body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text styles */

h1 {
  @apply font-roc text-5xl md:text-6xl lg:text-[80px] font-medium text-white leading-tight;
}

h2 {
  @apply font-roc text-base md:text-lg lg:text-2xl uppercase font-medium text-white leading-tight md:leading-none lg:leading-[90%];
}

h3 {
  @apply font-roc font-medium text-4xl md:text-5xl lg:text-[60px] text-white leading-tight;
}

h4 {
  @apply font-roc font-medium  text-2xl lg:text-[28px] xl:text-[32px] uppercase leading-[90%];
}

p,
.p {
  @apply text-white text-sm md:text-base leading-normal font-normal;
}

.header {
  @apply text-lg md:text-xl lg:text-2xl uppercase underline font-roc font-medium;
}

.body {
  @apply text-xs md:text-sm lg:text-base text-white font-normal leading-relaxed;
}

.body1 {
  @apply text-sm md:text-base text-white font-medium;
}

.body2 {
  @apply text-xs font-light text-white leading-snug;
}

.body3 {
  @apply font-roc text-2xl leading-tight font-medium;
}

.caption {
  @apply text-xs md:text-sm text-th-grey font-normal;
}

.markup {
  @apply text-base md:text-lg lg:text-xl xl:text-2xl font-roc font-medium leading-[90%];
}

.num_lg {
  @apply font-roc font-medium text-4xl md:text-[42px] lg:text-6xl text-white leading-tight;
}

.error-span {
  @apply text-red-500 text-base font-bold;
}

.navlink {
  @apply text-sm uppercase font-roc font-medium text-white leading-none;
}

/* Paddings */

.fullheight {
  height: calc(100vh - 6rem);
}

@media (min-width: 768px) {
  .fullheight {
    height: calc(100vh - 4rem);
  }
}

.px-default {
  @apply px-4 md:px-8 lg:px-16 xl:px-24;
}

.mx-default {
  @apply mx-4 md:mx-8 lg:mx-16 xl:mx-24;
}

.py-heading {
  @apply py-16 lg:py-24 xl:py-32;
}

.my-heading {
  @apply my-16 lg:my-24 xl:my-32;
}

/* Element styles */

.btn-play {
  @apply cursor-pointer bg-white pb-[6px] pt-[10px] px-6 text-black font-roc font-medium uppercase text-sm rounded-full leading-none;
}

.btn-contact {
  @apply cursor-pointer bg-white w-36 h-36 flex rounded-full items-center justify-center uppercase text-base text-black font-roc font-medium;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}

.btn-submit:hover {
  @apply bg-[#ffffff10] text-white;
}

.btn-submit {
  @apply cursor-pointer bg-white text-sm text-center font-medium font-roc uppercase h-12 lg:h-16 flex items-center justify-center pt-1 px-8 text-black;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}

.md-border-r {
  @apply md:border-r md:border-r-th-fade;
}

.violet-gradient-text {
  background: linear-gradient(146deg, #e9bbff 32.8%, #8e66ff 61.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Interactive */

.popup-modal-overlay {
  /*background: rgba(209, 24, 13, 0.8);*/
  background: rgba(0, 0, 0, 0.8);
  @apply px-4;
}

.form_label_for_check {
  @apply border border-th-grey;
}

.form_label_div {
  @apply text-white pb-2 pt-3 px-4 uppercase font-roc font-medium text-base;
  transition: background-color 300ms, color 300ms linear;
}

.form_check {
  @apply hidden;
}

.form_label_div:hover {
  @apply text-black border-white bg-white;
}

.form_check:checked + .form_label_div {
  @apply text-black border-white bg-white;
}

.userform .text_input {
  @apply border-b border-b-th-grey py-4 text-base font-normal text-white bg-black;
}

.userform .text_input::placeholder {
  @apply text-base font-normal text-white;
  transition: color 100ms linear;
}

.userform .text_input:focus {
  @apply border-b border-b-white bg-black outline-none;
}

.userform .text_input:focus::-webkit-input-placeholder {
  color: transparent;
}
.userform .text_input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.userform .text_input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.userform .text_input:focus:-ms-input-placeholder {
  color: transparent;
}

.userform .text_input:active {
  @apply bg-black;
}

input:-internal-autofill-selected {
  @apply !bg-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.footerform input {
  @apply bg-[#ffffff10] text-base font-roc px-4 py-3 text-white;
}

.footerform input:placeholder {
  @apply text-base font-normal text-white font-roc;
}

.footerform .text_input:focus {
  @apply bg-[#ffffff10] outline-none;
}

.footerform .text_input:active {
  @apply bg-[#ffffff10];
}

#footer .styles_faq-row__2YF3c {
  @apply !border-none;
}

.footer-links p {
  @apply text-[#bbb];
}

.footer-links p:hover {
  @apply text-white;
}
