@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400&display=swap");
@import "~/node_modules/react-modal-video/scss/modal-video.scss";

body {
  margin: 0;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Text styles */

h1 {
  @apply font-roc text-5xl md:text-6xl lg:text-[80px] font-medium text-white leading-tight;
}

h2 {
  @apply font-roc text-base md:text-lg lg:text-2xl uppercase font-medium text-white leading-tight md:leading-none lg:leading-[90%];
}

h3 {
  @apply font-roc font-medium text-4xl md:text-5xl lg:text-[60px] text-white leading-tight;
}

p,
.p {
  @apply text-white text-sm md:text-base leading-normal font-normal;
}

.header {
  @apply text-lg md:text-xl lg:text-2xl uppercase underline font-roc font-medium;
}

.body {
  @apply text-xs md:text-sm lg:text-base text-white font-normal leading-relaxed;
}

.body1 {
  @apply text-sm md:text-base text-white font-medium;
}

.body2 {
  @apply text-xs font-light text-white leading-snug;
}

.body3 {
  @apply font-roc text-2xl leading-tight font-medium;
}

.caption {
  @apply text-xs md:text-sm text-th-grey font-normal;
}

.num_lg {
  @apply font-roc font-medium text-4xl md:text-[42px] lg:text-6xl text-white leading-tight;
}

.error-span {
  @apply text-red-500 text-base font-bold;
}

.navlink {
  @apply text-sm uppercase font-roc font-medium text-white leading-none;
}

/* Paddings */

.fullheight {
  height: calc(100vh - 6rem);
}

@media (min-width: 768px) {
  .fullheight {
    height: calc(100vh - 4rem);
  }
}

.px-default {
  @apply px-4 md:px-8 lg:px-16 xl:px-24;
}

.py-heading {
  @apply py-16 lg:py-24 xl:py-32;
}

/* Element styles */

.btn-play {
  @apply cursor-pointer bg-white pb-[6px] pt-[10px] px-6 text-black font-roc font-medium uppercase text-sm rounded-full leading-none;
}

.btn-contact {
  @apply cursor-pointer bg-white w-36 h-36 flex rounded-full items-center justify-center uppercase text-base text-black font-roc font-medium;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}

.btn-submit:hover {
  @apply bg-[#ffffff10] text-white;
}

.btn-submit {
  @apply cursor-pointer bg-white text-sm text-center font-medium font-roc uppercase h-12 lg:h-16 flex items-center justify-center pt-1 px-8 text-black;
  transition: color 0.3s, background-color 0.3s ease-in-out;
}

.md-border-r {
  @apply md:border-r md:border-r-th-fade;
}

.violet-gradient-text {
  background: linear-gradient(146deg, #e9bbff 32.8%, #8e66ff 61.09%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Interactive */

.navbar-wrapper {
  @apply lg:grid;
  grid-template-columns: 5fr 1.5fr 5fr;
}

video {
  object-fit: cover;
  position: absolute;
  bottom: auto;
  left: auto;
  right: auto;
  @apply max-w-4xl w-[120%] md:w-full top-[10vh] sm:top-[5vh] md:top-auto;
}

.video-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.modal-video {
  @apply w-36 md:w-64 left-auto top-auto bottom-0 right-0 md:right-8 border-none outline-0 mt-auto h-auto;
  -moz-outline: 0;
  -webkit-outline: 0;
}

.modal-video-inner {
  @apply h-36 mt-auto md:mb-8 border-none;
}

.modal-video-body {
  @apply outline-0;
}

@media (orientation: landscape) {
  .modal-video-inner {
    @apply p-0;
  }
}

.modal-video-movie-wrap {
  @apply rounded-full md:rounded-xl;
}

.modal-video-movie-wrap iframe {
  @apply border-2 border-white rounded-full md:rounded-xl;
}

.modal-video-close-btn {
  @apply w-6 h-6 -top-6 md:-top-8 -right-1;
}

.modal-video-close-btn::before,
.modal-video-close-btn::after {
  @apply mt-0;
}

.ytp-title-text {
  @apply !hidden;
}

.benefit-expandable {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s;
  -moz-transition: max-height 0.3s;
  -ms-transition: max-height 0.3s;
  -o-transition: max-height 0.3s;
  transition: max-height 0.3s;
}

.benefit-expandable[active="true"] {
  max-height: 600px;
}

@keyframes expandAnimation {
  from {
    max-height: 0;
  }
  to {
    max-height: 600px;
  }
}

@keyframes collapseAnimation {
  from {
    max-height: 600px;
  }
  to {
    max-height: 0;
  }
}

/* .benefit-expandable > p {
  @apply hidden;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.benefit-expandable[active="true"] > p {
  @apply block;
  visibility: visible;
  opacity: 1;
} */

.tools_wrapper {
  @apply max-w-[296px];
}

.tools_wrapper div:not(:first-child) {
  @apply -ml-2;
}

.tool-icon-container {
  flex-shrink: 0;
  overflow: hidden;
  transition: 0.5s;
}

.tool-icon-container:hover {
  flex: 1 1 50%;
}

.tool-text {
  visibility: hidden;
  opacity: 0;
}

.tool-icon-container:hover > .tool-text {
  @apply block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

.expertise_wrapper_bg {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  background: linear-gradient(
    164deg,
    #873cbc 0.26%,
    #5f2c91 16.97%,
    #11011f 42.6%,
    transparent 53.68%
  );
}

.expertise_wrapper:hover > .expertise_wrapper_bg {
  visibility: visible;
  opacity: 1;
}

.expertise_wrapper {
  -webkit-transition: background-color 300ms linear;
  -ms-transition: background-color 300ms linear;
  transition: background-color 300ms linear;
}

.projects-wrapper article {
  @apply flex-1;
}

.dot {
  background-color: orange;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-card {
  flex: 1 1 33%; /* Исходный размер элемента */
  transition: flex 1s ease; /* Плавная анимация transform */
}

.project-card[active="true"] {
  flex: 1 1 50%;
}

.project-card > .project-overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.2s linear;
}

@media (min-width: 1024px) {
  .project-card:hover > .project-overlay {
    visibility: visible;
    opacity: 1;
  }
}

.team_card_wrapper > .team_card_overlay {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.team_card_wrapper:hover > .team_card_overlay {
  visibility: visible;
  opacity: 1;
}

.blog_wrapper::-webkit-scrollbar {
  display: none;
}

.blog_wrapper {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  scroll-behavior: smooth;
}

#blog-scroll {
  filter: drop-shadow(0px 5px 20px rgba(0, 0, 0, 0.3));
}

.chakra-accordion__item {
  @apply border-b border-th-fade;
}

.chakra-collapse p {
  @apply text-th-grey;
}

.chakra-accordion__button {
  @apply px-default py-4 md:py-8;
}

.chakra-accordion__button[aria-expanded="true"] {
  background: linear-gradient(180deg, #4d2c91 -8.83%, #000 76.23%) !important;
}

.popup-modal-overlay {
  /*background: rgba(209, 24, 13, 0.8);*/
  background: rgba(0, 0, 0, 0.8);
  @apply px-4;
}

.form_label_for_check {
  @apply border border-th-grey;
}

.form_label_div {
  @apply text-white pb-2 pt-3 px-4 uppercase font-roc font-medium text-base;
  transition: background-color 300ms, color 300ms linear;
}

.form_check {
  @apply hidden;
}

.form_label_div:hover {
  @apply text-black border-white bg-white;
}

.form_check:checked + .form_label_div {
  @apply text-black border-white bg-white;
}

.userform .text_input {
  @apply border-b border-b-th-grey py-4 text-base font-normal text-white bg-black;
}

.userform .text_input::placeholder {
  @apply text-base font-normal text-white;
  transition: color 100ms linear;
}

.userform .text_input:focus {
  @apply border-b border-b-white bg-black outline-none;
}

.userform .text_input:focus::-webkit-input-placeholder {
  color: transparent;
}
.userform .text_input:focus:-moz-placeholder {
  color: transparent;
} /* FF 4-18 */
.userform .text_input:focus::-moz-placeholder {
  color: transparent;
} /* FF 19+ */
.userform .text_input:focus:-ms-input-placeholder {
  color: transparent;
}

.userform .text_input:active {
  @apply bg-black;
}

input:-internal-autofill-selected {
  @apply !bg-black;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s;
  -webkit-text-fill-color: #fff !important;
}

.footerform input {
  @apply bg-[#ffffff10] text-base font-roc px-4 py-3 text-white;
}

.footerform input:placeholder {
  @apply text-base font-normal text-white font-roc;
}

.footerform .text_input:focus {
  @apply bg-[#ffffff10] outline-none;
}

.footerform .text_input:active {
  @apply bg-[#ffffff10];
}

#footer .styles_faq-row__2YF3c {
  @apply !border-none;
}

.footer-links p {
  @apply text-[#bbb];
}

.footer-links p:hover {
  @apply text-white;
}
